<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="/main.js"></script>
</head>
<body>
<h2>Admin page</h2>
<form action="/api/create-client" method="post">
    <label for="name-input">Please enter new client name</label>
    <input type="text" name="name" id="name-input">
    <input type="text" name="address" id="address-input">
    <input type="text" name="phone" id="phones-input">
    <input type="button" onclick="postNewClient()" value="Submit">
</form>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
        <th>phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${clients}">
        <td th:text="${client.id}" />
        <td th:text="${client.name}" />
        <td th:text="${client.address}" />
        <td th:text="${client.phone}" />
    </tr>
    </tbody>
</table>
</body>
</html>
